



<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->


 <div class="col-sm-4 col-xs-12" id="f_ID_div" class='form-group'>
    <label><font color="darkred">*</font>ID</label> <!-- Category -->
   <input type="text" class="form-control input-lg" id="f_ID" required>
  </div>
  <div class="col-sm-4 col-xs-12" id="f_name_div" class='form-group'>
     <label><font color="darkred">*</font>Name</label> <!-- Category -->
    <input type="text" class="form-control input-lg" id="f_name" required>
   </div>
  <div class="col-sm-4 col-xs-12" id="f_cont_div" class='form-group'>
     <label><font color="darkred">*</font>Contact no</label> <!-- Category -->
    <input type="text" class="form-control input-lg" id="f_cont" required>
   </div>
   <div class="col-sm-4 col-xs-12" id="f_add_div" class='form-group'>
      <label><font color="darkred">*</font>address</label> <!-- Category -->
     <input type="text" class="form-control input-lg" id="f_add" required>
    </div>
    <div class="col-sm-4 col-xs-12" id="f_email_div" class='form-group'>
       <label><font color="darkred">*</font>Email</label> <!-- Category -->
      <input type="text" class="form-control input-lg" id="f_email" required>
     </div>









</div> <!-- /.row -->
