



<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

  <div class="col-sm-4 col-xs-12" id="f_type_div" class='form-group'>
    <label><font color="darkred">*</font>Type</label> <!-- type -->
   <select class="form-control input-lg" id="f_type" required>
      <option value="none">-TYPE-</option>
     <option value="CT0006">Unskilled</option>
     <option value="CT0005">Skilled</option>
     <option value="CT0007">Foreman</option>
     </select>
  </div>

 <div class="col-sm-4 col-xs-12" id="f_job_div" class='form-group'>
    <label><font color="darkred">*</font>Job</label> <!-- Category -->
   <input type="text" class="form-control input-lg" id="f_job" required>
  </div>

</div> <!-- /.row -->
