



<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

 <div class="col-sm-4 col-xs-12" id="f_company_div" class='form-group'>
 <label><font color="darkred">*</font>Company</label> <!--Client Name-->
 <input type="text" class="form-control input-lg" id="f_company" required> </div>

<div class="col-sm-4 col-xs-12" id="f_person_div" class='form-group'>
 <label><font color="darkred">*</font>Contact Person</label> <!--Client person-->
 <input type="text" class="form-control input-lg" id="f_person" required> </div>

<div class="col-sm-4 col-xs-12" id="f_contactp_div" class='form-group'>
 <label><font color="darkred">*</font>Contact Number</label> <!--Client position-->
 <input type="text" class="form-control input-lg" id="f_contactp" required> </div>


 <div class="col-sm-4 col-xs-12" id="f_contactc_div" class='form-group'>
 <label><font color="darkred">*</font>Company Contact</label> <!-- Contact -->
 <input type="text" class="form-control input-lg" id="f_contactc" required>  </div>


 <div class="col-sm-4 col-xs-12" id="f_address_div" class='form-group'>
 <label><font color="darkred">*</font>Address</label> <!-- Address -->
 <input type="text" class="form-control input-lg" id="f_address" required>  </div>


 <div class="col-sm-4 col-xs-12" id="f_email_div" class='form-group'>
 <label><font color="darkred">*</font>Email</label> <!-- Email -->
 <input type="text" class="form-control input-lg" id="f_email" required>  </div>



</div> <!-- /.row -->
