 <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2017 Persan Construction Inc. | By : Students of Polytechnic University of San Juan Campus
                </div>

            </div>
        </div>
    </footer>    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->    
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="../../../assets/js/bootstrap.js"></script>


      <script type="text/javascript">
    $(window).load(function() {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;

    });
    $(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("600");
                  
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("600");
                
        }
    );
});
</script>