<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
    <link rel="stylesheet" href="../../assets/css/user.css">
</head>

<body>
    <div class="login-card"><center>
      <img  align="middle" name="icon" src="../../assets/img/stop-sign-png-27223.png" width="80%" " alt=""></center>
      <h3 align="center">Sorry but you are temporary banned to this site</h3>

    <p align="center" >
    you will unbanned tomorrow
    </p>
</body>
</html>
