<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->


     <div class="col-xs-5 col-xs-10" id="f_name_div" class='form-group'  >
     <label><font color="darkred">*</font>Name</label> <!-- Subcon Name -->
     <input type="text" class="form-control" id="f_name" required> </div>


     <div class="col-xs-5 col-xs-10" id="f_personnel_div" class='form-group'  >
   <label><font color="darkred">*</font>Contact Person</label> <!-- Contact Detail -->
   <input type="text" class="form-control" id="f_personnel" required> </div>

   <div class="col-xs-5 col-xs-10" id="f_personnelno_div" class='form-group'  >
 <label><font color="darkred">*</font>Contact no.</label> <!-- Contact Detail -->
 <input type="text" class="form-control" id="f_personnelno" required> </div>

 <div class="col-xs-5 col-xs-10" id="f_contact_div" class='form-group'  >
<label><font color="darkred">*</font>Company no.</label> <!-- Contact Detail -->
<input type="text" class="form-control" id="f_contact" required> </div>

     <div class="col-xs-5 col-xs-10" id="f_scope_div" class='form-group'  >
     <label><font color="darkred">*</font>Scope of Work</label> <!-- Scope of Work -->
     <select class="form-control" id="f_scope" required>
     </select>  </div>





</div> <!-- /.row -->
